<html>
	<body>		
		<p>Welcome to Service!</p><br>
		<p>Submit a service request today and contribute to the improvement of your neighborhood.</p><br>
		<p>Best Regards,</p>
		<p>The Service Team</p>
	</body>	
</html>
